<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>MindQuest</title>
        <script th:src="@{/js/top-script.js}"></script>
        <link rel="stylesheet" th:href="@{/css/dashboard-style.css}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <div class="left">
                <a id="logo" th:href="@{/}" class="navbar-brand">MindQuest</a>
            </div>
        </header>
        <section>
            <div class="box">
                <div id="summary">
                    <h1>Hello</h1>
                    <h1 th:text="${currentUser.firstName}"></h1>
                    <h1 th:if="${firstTime == true}"><a th:href="@{/starting-quiz}" class="button">Start Your journey here!</a></h1>
                </div>
            </div>
        </section>
        <footer>
            <div class="right">
                <div class="four">
                    <div id="profile-picture">
                        <img th:src="@{/assets/face-smile.svg}">
                    </div>
                    <h1 id="name">Tauras</h1>
                    <a th:href="@{/settings}" class="button">Settings</a>
                    <a th:href="@{/logout}" class="button" style="color: hwb(0 25% 0%);">Log Out</a>
                </div>
            </div>
        </footer>
<div id="top" onclick="scrollToTop()">
    <img alt="To Top" src="./assets/top.svg">
</div>
</body>
</html>