<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Change First Name</title>
</head>
<body>
<h2>Journals</h2>

<form method="post" role="form" th:action="@{/createJournal}" th:object="${journal}">
    <div class="box" >
        <label for="title" class="form-label">Diary Title</label>
        <input type="text" id="title" name="title" placeholder="Enter your diary title" th:field="*{title}"/>
    </div>
    <div class="box">
        <button type="submit">Create New Journal Entry</button>
    </div>
</form>
<h3>List of Journal Entries</h3>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="journal : ${journalList}">
        <td th:text="${journal.title}"></td>
        <td>
            <form th:action="@{/updateJournal}" method="post" >
                <input type="hidden" id="id" name="id" th:value="${journal.id}" />
                <textarea type="text" id="content" name="content" rows="4" cols="50" th:text="${journal.diaryEntry}" class="box"></textarea>
                <button type="submit">Save</button>
            </form>
        </td>
   <!--     <td>
            <textarea type="text" id="content" name="content" rows="4" cols="50" readonly th:text="${journal.diaryEntry}"></textarea>
        </td>-->
      <!--  <td>
            <form th:action="@{/updateJournal}" method="post">
                <input type="hidden" th:name="id" th:value="${journal.id}" />
                <button type="submit">Save</button>
            </form>
        </td>-->

        <td>
            <form th:action="@{/deleteJournal}" method="post">
                <input type="hidden" th:name="id" th:value="${journal.id}" />
                <button type="submit">Remove</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>