<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MindQuest - Log In</title>
    <script th:src="@{/js/top-script.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="center">
        <a id="logo" th:href="@{/}">MindQuest</a>
    </div>
</header>
<section th:if="${param.success}">
    <div class="box">
        <div class="half">
            <a th:href="@{/users}" class="button">Users</a>
            <a th:href="@{/dashboard}" class="button">Dashboard</a>
        </div>
    </div>
</section>
<section>
    <div class="box">
        <div class="box-header">
            <h1 class="major">Log In</h1>
        </div>
        <div class="content">
            <div th:if="${param.error}" class="alert danger">Invalid email or password!</div>
            <div th:if="${param.logout}" class="alert success">Logged out successfully!</div>
            <div th:if="${param.success}" class="alert success">Logged in successfully!</div>
            <div th:if="${param.please}" class="alert danger">Please log in to view your account!</div>
            <form th:action="@{/login/check}" method="get" role="form" th:object="${user}">
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" required="required" placeholder="Enter email address"
                           th:field="*{email}">
                    <span class="danger">*</span>
                    <p th:errors="*{email}" th:if="${#fields.hasErrors('email')}" class="danger">Invalid Email!</p>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required="required"
                           placeholder="Enter password" th:field="*{password}">
                    <span class="danger">*</span>
                    <p th:errors="*{password}" th:if="${#fields.hasErrors('password')}" class="danger">Invalid Password!</p>
                </div>
                <div>
                    <button class="button content-button" type="submit">Continue</button>
                    <span>Not registered?
                        <a th:href="@{/register}" class="text-link">Sign up here.</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</section>
<div id="top" onclick="scrollToTop()">
    <img alt="To Top" th:src="@{/assets/top.svg}">
</div>
</body>
</html>