<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MindQuest - MindFeed</title>
    <script th:src="@{/js/top-script.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="header-box">
        <a id="logo" th:href="@{/}">MindQuest</a>
        <a class="button margin-left-15" th:href="@{/mindboard}">MindBoard</a>
    </div>
</header>
<section>
    <div class="box">
        <div class="box-button">
            <a th:href="@{/mindboard}" class="button button-full">Return</a>
        </div>
    </div>
</section>
<section>
    <div class="box">
        <div class="box-header">
            <h1>MindFeed</h1>
        </div>
    </div>
</section>
<section th:each="post : ${posts}">
    <div class="box">
        <div class="box-content" style="padding: 0 !important; overflow: hidden; height: 14.5rem;">
            <img style="object-fit: cover; height: 14.5rem; width: 100%;" th:src="${post.thumbnail}">
        </div>
        <div class="box-header">
            <h2 th:text="${post.title}">Title</h2>
        </div>
        <div class="box-content">
            <p class="last" th:text="${post.description}"></p>
        </div>
        <div class="box-button">
            <a th:href="${post.source}" target="_blank" class="button button-full">Open</a>
        </div>
    </div>
</section>
<div id="to-top" onclick="scrollToTop()">
    <img alt="To Top" th:src="@{/assets/top.svg}">
</div>
</body>
</html>