<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MindQuest - MindBoard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
    <script th:src="@{/js/top-script.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="header-box">
        <a id="logo" th:href="@{/}">MindQuest</a>
    </div>
</header>
<section th:if="${startingQuizNotTaken == true}" >
    <div class="box">
        <div class="box-header">
            <h1>Welcome <span class="bold" style="font-size: 2rem !important;" th:text="${currentUser.firstName}"></span>!</h1>
        </div>
        <div class="box-button">
            <a th:href="@{/starting_quiz}" class="button button-full">Take a Starting Quiz</a>
        </div>
    </div>
</section>
<section th:unless="${startingQuizNotTaken == true}">
    <div class="box">
        <div class="box-header">
            <h1>Welcome Back <span class="bold" style="font-size: 2rem !important;" th:text="${currentUser.firstName}"></span>!</h1>
        </div>
        <div class="box-button" th:unless="${param.quizAlreadyTaken}">
            <a th:href="@{/quiz/getQuiz}" class="button button-full">Take a Daily Quiz</a>
        </div>
        <div class="box-content" th:if="${param.quizAlreadyTaken}">
            <h2 class="alert danger" style="color: hwb(0 25% 0%); text-align: center !important">You've already completed the daily quiz for today.</h2>
            <h2 class="alert danger" style="color: hwb(0 25% 0%); text-align: center !important" th:text="'You can take the quiz again after ' + ${timeLeft}"></h2>
        </div>
    </div>
</section>
<section th:unless="${startingQuizNotTaken == true}">
    <div class="box">
        <div class="box-header">
            <h2>Mental Wellness Metrics</h2><h3 style="margin-top: 0.5rem;" th:text="'Average: ' + ${average} + '%'"></h3>
        </div>
        <div class="box-content">
            <canvas id="scoreChart" style="width: 100%; height: 14.5rem;"></canvas>
            <script th:inline="javascript">

                let labels = /*[[${dates}]]*/ [];
                let itemdata = /*[[${points}]]*/ [];
                console.log(labels);
                console.log(itemdata);

                // Function to format date from "YYYY-MM-DD HH:MM" to "YY-MM-DD"
                const formatDate = (dateString) => {
                    const date = new Date(dateString);
                    const year = date.getFullYear().toString().slice(-2);
                    const month = (date.getMonth() + 1).toString().padStart(2, '0');
                    const day = date.getDate().toString().padStart(2, '0');
                    return `${year}-${month}-${day}`;
                };

                // Format all date labels
                labels = labels.map(date => formatDate(date));

                const data = {
                    labels: labels,
                    datasets: [{
                        data: itemdata,
                        borderColor: 'white',
                        backgroundColor: 'rgba(255, 255, 255, 0.25)', // Transparent white fill
                        fill: true,
                        tension: 0.1,
                        hoverBorderColor: '#0e83b5bf'
                    }]
                };

                const config = {
                    type: 'line',
                    data: data,
                    options: {
                        title: {
                            display: false
                        },
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    callback: (value, index, values) => {
                                        return `${value}%`;
                                    },
                                    fontColor: 'white', // Set the font color to white
                                    fontFamily: 'Seurat-Pro-Demi-Bold' // Set font to Metropolis
                                },
                                gridLines: {
                                    color: 'rgba(255, 255, 255, 0.5)', // Set the grid line color to white
                                    drawBorder: true, lineWidth: 0,
                                    zeroLineColor: 'transparent'
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontColor: 'white', // Set the font color to white
                                    fontFamily: 'Seurat-Pro-Demi-Bold' // Set font to Metropolis
                                },
                                gridLines: {
                                    color: 'rgba(255, 255, 255, 0.5)', // Set the grid line color to white
                                    drawBorder: true, lineWidth: 0,
                                    zeroLineColor: 'transparent'
                                }
                            }]
                        },
                        tooltips: {
                            backgroundColor: '#0e83b5bf', // Set the background color of the tooltip to white
                            bodyFontFamily: 'Seurat-Pro-Demi-Bold' // Set the font family of the tooltip
                        }
                    }
                };

                const chart = new Chart(
                    document.getElementById('scoreChart'),
                    config
                );
            </script>
        </div>
        <div class="box-button">
            <a th:href="@{/quiz/history}" class="button button-full">View Quiz History</a>
        </div>
    </div>
</section>
<section th:unless="${startingQuizNotTaken == true}">
    <div class="box">
        <div class="box-header">
            <h2>Write a Journal Entry</h2>
        </div>
        <div class="box-button">
            <a th:href="@{/journal}" class="button button-full">Open Journal</a>
        </div>
    </div>
</section>
<section th:unless="${startingQuizNotTaken == true}">
    <div class="box">
        <div class="box-header">
            <h2>Make a Feature Request</h2>
        </div>
        <div class="box-button">
            <a th:href="@{/request}" class="button button-full">Open Request Form</a>
        </div>
    </div>
</section>
<section th:unless="${startingQuizNotTaken == true}">
    <div class="box">
        <div class="box-header">
            <h1>MindFeed</h1>
        </div>
    </div>
</section>
<section th:each="post : ${posts}" th:unless="${startingQuizNotTaken == true}">
    <div class="box">
        <div class="box-content" style="padding: 0 !important; overflow: hidden; height: 14.5rem;">
            <img style="object-fit: cover; height: 14.5rem; width: 100%;" th:src="${post.thumbnail}">
        </div>
        <div class="box-header">
            <h2 th:text="${post.title}">Title</h2>
        </div>
        <div class="box-content">
            <p class="last" th:text="${post.description}"></p>
        </div>
        <div class="box-button">
            <a th:href="${post.source}" target="_blank" class="button button-full">Open</a>
        </div>
    </div>
</section>
<section th:unless="${startingQuizNotTaken == true}">
    <div class="box">
        <div class="box-button">
            <a th:href="@{/mindfeed}" class="button button-full">View More from MindFeed</a>
        </div>
    </div>
</section>
<section class="bottom"></section>
<footer>
    <div class="footer-box">
        <a th:href="@{/settings/change_profile_picture}" class="button" id="profile-picture" style="position: absolute; top: 0.75rem; left: 0.75rem;">
            <img th:if="${photo == null}" th:src="@{/assets/user.svg}" alt="Default Image" style="scale: 0.75;">
            <img th:unless="${photo == null}" th:src="${'data:image/png;base64,' + profilePhotoData}" alt="Uploaded Image">
        </a>
        <a th:href="@{/settings/change_first_name}" class="index margin-left-20 margin-right-20" style="margin-left: 5.75rem !important;">
            <span th:text="${currentUser.firstName}" id="name" class="index text-link"></span>
        </a>
        <a th:unless="${startingQuizNotTaken == true}" th:href="@{/settings}" class="button button-full  margin-right-05">Settings</a>
        <a th:href="@{/logout}" class="button button-full" style="color: hwb(0 25% 0%);">Log Out</a>
    </div>
</footer>
<div id="to-top" onclick="scrollToTop()" class="to-top-footer">
    <img alt="To Top" th:src="@{/assets/top.svg}">
</div>
</body>
</html>