<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MindQuest - Quiz</title>
    <script th:src="@{/js/top-script.js}"></script>
    <script th:src="@{/js/quiz-script.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="center">
        <a id="logo" th:href="@{/}" class="navbar-brand">MindQuest</a>
        <a th:href="@{/dashboard}" class="button" style="margin-left: 1.5rem">To MindBoard</a>
    </div>
</header>
<section>
    <div class="box">
        <div class="box-header">
            <h1 class="major">Quiz</h1>
        </div>
        <div class="content">
            <p class="last">Take this quiz to evaluate your mental wellness score. Click "Finish" at the end, if you want to complete the quiz and see the results!</p>
        </div>
    </div>
</section>
<form id="quizForm" th:action="@{/quiz/getScore}" method="post" class="quiz-form">
    <input type="hidden" name="quizId" th:value="${quiz.id}" />
    <section class="question-section" th:each="question, iterStat : ${quiz.questions}">
        <div class="box" id="question-box-[[${iterStat.index}]]">
            <div class="box-header">
                <h1 th:text="${question.questionTitle}"></h1>
            </div>
            <div class="content">
                <div class="alert danger question" style="display: none;">Please answer this question!</div>
                <label class="radio-label"><input type="radio" th:name="|responses[${question.id}].response|" value="option1" required/><span class="select"></span><span class="radio-text" th:text="${question.option1}"></span></label><br>
                <label class="radio-label"><input type="radio" th:name="|responses[${question.id}].response|" value="option2" required/><span class="select"></span><span class="radio-text" th:text="${question.option2}"></span></label><br>
                <label class="radio-label"><input type="radio" th:name="|responses[${question.id}].response|" value="option3" required/><span class="select"></span><span class="radio-text" th:text="${question.option3}"></span></label><br>
                <label class="radio-label"><input type="radio" th:name="|responses[${question.id}].response|" value="option4" required/><span class="select"></span><span class="radio-text" th:text="${question.option4}"></span></label>
            </div>
        </div>
    </section>
</form>
<footer>
    <div class="footer-center">
        <button type="button" class="prev-button button" style="min-width: 3rem; !important">◀</button>
        <span id="counter" class="index current-index">1</span>
        <span class="index">｜</span>
        <span id="total" class="index">[[${quiz.questions.size()}]]</span>
        <button type="button" class="next-button button" style="margin-left: 2rem !important; min-width: 3rem; !important">▶</button>
        <button type="submit" class="finish-button button">Finish</button>
    </div>
</footer>
<div id="top" onclick="scrollToTop()">
    <img alt="To Top" th:src="@{/assets/top.svg}">
</div>
</body>
</html>