<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MindQuest - Quiz</title>
    <script th:src="@{/js/top-script.js}"></script>
    <script th:src="@{/js/quiz-script.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="center">
        <a id="logo" th:href="@{/}">MindQuest</a>
    </div>
</header>
<section>
    <div class="box">
        <div class="box-header">
            <h1 class="major">Quiz</h1>
        </div>
        <div class="content">
            <p class="last">Take this quiz to evaluate your mental wellness score. Click "Finish" at the end, if you want to complete the quiz and see the results!</p>
        </div>
    </div>
</section>
<form id="quizForm" th:action="@{/quiz/getScore}" method="post" class="quiz-form">
    <input type="hidden" name="quizId" th:value="${quiz.id}" />
    <section class="question-section" th:each="question, iterStat : ${quiz.questions}">
        <div class="box" id="question-box-[[${iterStat.index}]]">
            <div class="box-header">
                <h1 th:text="${question.questionTitle}"></h1>
            </div>
            <div class="content">
                <label><input type="radio" th:name="|responses[${question.id}].response|" value="option1" required/> <span th:text="${question.option1}"></span></label><br>
                <label><input type="radio" th:name="|responses[${question.id}].response|" value="option2" required/> <span th:text="${question.option2}"></span></label><br>
                <label><input type="radio" th:name="|responses[${question.id}].response|" value="option3" required/> <span th:text="${question.option3}"></span></label><br>
                <label><input type="radio" th:name="|responses[${question.id}].response|" value="option4" required/> <span th:text="${question.option4}"></span></label><br>
            </div>
        </div>
    </section>
</form>
<section>
    <div class="box">
        <div class="half navigation-buttons">
            <button class="prev-button button" type="button">Previous</button>
            <button class="next-button button" type="button">Next</button>
        </div>
    </div>
</section>
<div id="top" onclick="scrollToTop()">
    <img alt="To Top" th:src="@{/assets/top.svg}">
</div>
<footer>
    <div class="footer-center">
        <span id="counter" class="index">1</span>
        <span class="index">｜</span>
        <span id="total" class="index">[[${quiz.questions.size()}]]</span>
        <button type="submit" class="finish-button button">Finish</button>
    </div>
</footer>
</body>
</html>