<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>User Settings</title>
</head>
<body>
<h1 style="margin-top: 25px;">User settings</h1>
<a th:href="@{/settings/change_user_name}" style="margin-top: 25px">Change first name</a>
<br>
<br>
<a th:href="@{/settings/change_password}" style="margin-top: 25px">Change password</a>
<br>
<br>
<a th:href="@{/settings/change_last_name}" style="padding-top: 25px">Change last name</a>
<br>
<br>
<a th:href="@{/settings/pfp_upload}" style="padding-top: 25px">Change profile picture.</a>
<br>
<br>
<h1>User settings</h1>

<div th:if="${user.isPresent()}" id="profile-picture">
    <label>User ID: <span th:text="${user.get().getId()}"></span></label><br>
    <label>First Name: <span th:text="${user.get().getFirstName()}"></span></label><br>
    <label>Last Name: <span th:text="${user.get().getLastName()}"></span></label><br>
    <label>Email: <span th:text="${user.get().getEmail()}"></span></label><br>

</div>
<div id="imagePreview">

    <img th:if="${photo == null}" th:src="@{/assets/face-smile.svg}" alt="Default Image" style="max-width: 100px; max-height: 100px">

    <img th:if="${photo != null}" th:src="${'data:image/png;base64,' + profilePhotoData}" alt="Uploaded Image" style="max-width: 100px; max-height: 100px">
</div>
</body>
</html>