<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MindQuest - Settings</title>
    <script th:src="@{/js/top-script.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="header-box">
        <a id="logo" th:href="@{/}">MindQuest</a>
        <a class="button margin-left-15" th:href="@{/mindboard}">MindBoard</a>
    </div>
</header>
<section>
    <div class="box">
        <div class="box-button">
            <a th:href="@{/mindboard}" class="button button-full">Return</a>
        </div>
    </div>
</section>
<section>
    <div class="box">
        <div class="box-header">
            <h1>Settings</h1>
        </div>
        <div class="box-content">
            <p>First Name: <span th:text="${user.get().getFirstName()}" class="bold"></span></p>
            <p>Last Name: <span th:text="${user.get().getLastName()}" class="bold"></span></p>
            <p>Email: <span th:text="${user.get().getEmail()}" class="bold"></span></p>
            <p>Gender: <span th:text="${user.get().getStartingQuizInfo().getGender()}" class="bold"></span></p>
            <p>Height: <span th:text="${user.get().getStartingQuizInfo().getHeight()}"class="bold"></span><span class="bold"> meters</span></p>
            <p>Weight: <span th:text="${user.get().getStartingQuizInfo().getWeight()}"class="bold"></span><span class="bold"> kilograms</span></p>
            <p>Profile Picture:</p>
            <div id="profile-picture" style="min-height: 6rem !important; min-width: 6rem !important; justify-content: left;">
                <img th:if="${photo == null}" th:src="@{/assets/user.svg}" alt="Default Image" style="scale: 0.75; height: 6rem; width: 6rem;">
                <img th:unless="${photo == null}" th:src="${'data:image/png;base64,' + profilePhotoData}" alt="Uploaded Image" style="height: 6rem; width: 6rem;">
            </div>
            <br>
            <div th:if="${param.error}">
                <p class="alert danger">Error: <span th:text="${param.error}" class="alert danger"></span></p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="box">
        <div class="box-header">
            <h2>Change Settings</h2>
        </div>
        <div class="box-button">
            <a th:href="@{/settings/change_password}" class="button button-full">Change Password</a>
        </div>
        <div class="box-button">
            <a th:href="@{/settings/change_first_name}" class="button button-full">Change First Name</a>
        </div>
        <div class="box-button">
            <a th:href="@{/settings/change_last_name}" class="button button-full">Change Last Name</a>
        </div>
        <div class="box-button">
            <a th:href="@{/settings/change_profile_picture}" class="button button-full">Change Profile Picture</a>
        </div>

    </div>
</section>
<div id="to-top" onclick="scrollToTop()">
    <img alt="To Top" th:src="@{/assets/top.svg}">
</div>

<script>
    document.getElementById("change-profile-picture").addEventListener("click", function(event) {
        var errorjpg = "[[${errorjpg}]]";
        if (errorjpg !== null) {
            alert(errorjpg);
        }
    });
</script>
</body>
</html>