<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/StartingQuiz.css}">
</head>
<body>

<div class="center">
<h1>Starting Quiz</h1>

<form action="startingquiz" method="post" class="quiz-form">

    <label>What is your gender?</label> <br/>
    <select name="gender">
        <option value="male">male</option>
        <option value="female">female</option>
        <option value="other">other</option>
        <option value="not specified">not specified</option>
    </select>
    <br/> <br/>

    <label>What is your height?(Please specify in meters)</label> <br/>
    <input type="text" name="height"/> <br/> <br/>

    <label>What is your weight?(Please specify in kilograms)</label> <br/>
    <input type="text" name="weight"/> <br/> <br/>

    <label>How would you rate the quality of your sleep on a scale of 1 to 10, with 1 being very poor and 10 being excellent?</label> <br/>
    <input type="text" name="ratingOfSleep"/> <br/> <br/>

    <label>How many hours of sleep do you typically get per night?</label> <br/>
    <input type="text" name="hoursOfSleep"/> <br/> <br/>

    <label>Do you have any difficulty falling asleep or staying asleep?</label> <br/>
    <select name="hardToSleep">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <br/> <br/>

    <label>How often do you feel tired or fatigued during the day?</label> <br/>
    <select name="howOftenFeelTired">
        <option value="rarely">Rarely</option>
        <option value="sometimes">Sometimes</option>
        <option value="often">Often</option>
        <option value="always">Always</option>
    </select>
    <br/> <br/>

    <label>How would you describe your current level of stress?</label> <br/>
    <select name="stressLevel">
        <option value="low">Low</option>
        <option value="moderate">Moderate</option>
        <option value="high">High</option>
    </select>
    <br/> <br/>

    <label>How many times do you engage in physical activity or exercise per week?</label> <br/>
    <select name="activePerWeek">
        <option value="none">None</option>
        <option value="1-2">1-2</option>
        <option value="3-4">3-4</option>
        <option value="5+">5+</option>
    </select>
    <br/> <br/>

    <label>How often do you engage in activities that bring you joy or a sense of fulfillment?</label> <br/>
    <select name="fulfillment">
        <option value="rarely">Rarely</option>
        <option value="sometimes">Sometimes</option>
        <option value="often">Often</option>
        <option value="always">Always</option>
    </select>
    <br/> <br/>

    <button type="submit">Submit</button>
</form>
</div>

</body>
</html>