<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Change First Name</title>
</head>
<body>
<div class="box">
    <h1>Change Password</h1>
    <form th:action="@{/settings/updatePassword}" method="post">

        <label for="newPassword">New Password:</label><br>
        <input type="password" id="newPassword" name="newPassword" required><br><br>

        <button type="submit">Change Password</button>
    </form>

</div>
</body>
</html>
