/*
General
*/

@font-face
{
    font-family: Seurat-Pro-Extra-Bold;
    src: url("../assets/Seurat-Pro-EB.otf") format("opentype");
}

@font-face
{
    font-family: Seurat-Pro-Bold;
    src: url("../assets/Seurat-Pro-B.otf") format("opentype");
}

@font-face
{
    font-family: Seurat-Pro-Demi-Bold;
    src: url("../assets/Seurat-Pro-DB.otf") format("opentype");
}

/* WebKit and Blink */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


::-ms-input-placeholder { /* Edge 12-18 */
    color: var(--text);
    opacity: 0.5;
}

::placeholder {
    color: var(--text);
    opacity: 0.5;
}

:root{
    --text: rgb(255, 255, 255); /*NOTE: If changed be sure to update SVG files!*/
    --content: rgba(255, 255, 255, 0.25);
    --box: #0e83b5bf;
    /*--box: rgba(14, 73, 181, .75);*/
    --background: rgb(255, 255, 255);
    --shadow: rgba(0, 0, 0, 0.3);
    --important: #0e83b5;
    --danger: hwb(0 25% 0%);
    --success: lawngreen;
}

*
{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Seurat-Pro-Demi-Bold', sans-serif;
    line-height: 1;
    font-size: 24px;
    color: var(--text);
}

/*
Page
*/

body
{
    padding-bottom: 0.5rem;
    background-color: var(--background);
    background-image: url("../assets/parabolic-ellipse.svg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

section
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.bottom
{
    height: 6rem;
    margin-top: 0 !important;
}

/*
Header
*/

header
{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: left;
    z-index: 1;
    pointer-events: none;
}

.header-box
{
    width: calc(33rem + (100vw - 33rem) / 2);
    padding: 1.5rem;
    border-radius: 0 0 2rem 0;
    overflow: hidden;
    background-color: var(--box);
    backdrop-filter: blur(0.1rem);
    display: flex;
    justify-content: center;
    pointer-events: all;
}

/*
Footer
 */

footer
{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: right;
    z-index: 1;
    width: 100%;
    pointer-events: none;
}

.footer-box
{
    width: calc(33rem + (100vw - 33rem) / 2);
    padding: 1.5rem;
    border-radius: 2rem 0 0 0;
    overflow: hidden;
    background-color: var(--box);
    backdrop-filter: blur(0.1rem);
    display: flex;
    justify-content: center;
    pointer-events: all;
}

/*
Box
 */

.box
{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 32rem;
    border-radius: 1.5rem;
    overflow: auto;
    backdrop-filter: blur(0.05rem);
    background-color: var(--box);
    padding-top: .5rem;
}

.box-content
{
    padding: 1rem;
    margin: 0 .5rem .5rem .5rem;
    border-radius: 1rem;
    background-color: var(--content);
}

.box-button
{
    display: flex;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.box-header {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
}

/*
Text
 */

p {
    margin-bottom: 0.5rem;
}

h1 {
    font-family: Seurat-Pro-Bold, sans-serif !important;
    filter: drop-shadow(0 0 0.25rem var(--shadow));
    font-size: 2rem;
}

h2 {
    font-family: Seurat-Pro-Bold, sans-serif !important;
    filter: drop-shadow(0 0 0.25rem var(--shadow));
    font-size: 1.25rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--text);
}

#logo {
    font-size: 3rem;
    color: var(--text);
    font-family: 'Seurat-Pro-Extra-Bold', sans-serif;
    filter: drop-shadow(0 0 0.25rem var(--shadow));
}

.text-link {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.text-link:hover {
    cursor: pointer;
    opacity: 0.5;
}

.text-link:active {
    color: var(--box);
}

.index {
    font-size: 2rem !important;
    font-family: Seurat-Pro-Bold, sans-serif !important;
    filter: drop-shadow(0 0 0.25rem var(--shadow)) !important;
    display: grid;
    align-items: center;
}

.alert {
    margin-bottom: 1rem;
}

.danger {
    color: var(--danger);
}

.success {
    color: var(--success);
}

.important {
    font-family: Seurat-Pro-Bold, sans-serif;
    font-style: italic;
}

.last {
    margin: 0;
}

.bold {
    font-family: 'Seurat-Pro-Bold' !important;
}

.underline {
    text-decoration: underline !important;
}

.italic {
    font-style: italic !important;
}

label, span, .text-link, input, p, .alert, textarea {
    font-size: 0.75rem !important;
}

/*
List
*/

li {
	font-size: 0.75rem;
    padding: 0 0 0 1.5rem;
	list-style: none;
	background-image: url("../assets/dot.svg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 0.75rem;
    margin: 0 0 0.5rem;
    color: var(--text);
}

ul {
    padding: 0;
}

/*
Button
 */

#profile-picture {
    padding: 0 !important;
    min-width: 4.5rem !important;
    min-height: 4.5rem !important;
    max-width: 4.5rem !important;
    max-height: 4.5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#profile-picture img {
    border-radius: 1rem !important;
    position:absolute;
    height: 4.5rem;
    width: 4.5rem;
    object-fit: cover;
}

#name {
    text-decoration: none !important;
    font-size: 2rem !important;
}

.button {
    background-color: var(--content);
    border-radius: 1rem;
    overflow: hidden;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    transition: all 0.3s ease-in-out;
    font-family: Seurat-Pro-Bold, sans-serif;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.button:active {
    background-color: var(--box);
}

.button-full {
    width: 100% !important;
}

.button-content {
    border-radius: 0.5rem !important;
    padding: 0.5rem;
}

.button-finish {
    margin-bottom: 0 !important;
    width: 100% !important;
    margin-left: 1.5rem !important;
}

/*
Jump To Top Button
 */

#to-top {
    display: none;
    position: fixed;
    border: none;
    bottom: .5rem;
    right: .5rem;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2147483647;
}

#to-top:hover {
    opacity: 0.5 !important;
}

#to-top:active img {
    scale: 0.75;
}

#to-top img {
    width: 2rem;
    filter: drop-shadow(0 0 0.25rem var(--shadow));
    transition: all 0.3s ease-in-out;
}

.to-top-footer {
    bottom: 6.5rem !important;
}

/*
Input
 */

input {
    margin-bottom: 0.5rem;
    background-color: var(--content);
    border-radius: 0.5rem;
    overflow: hidden;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: none;
    transition: all 0.3s ease-in-out;
}

input:hover {
    opacity: 0.5;
}

input:focus {
    outline: none;
    background-color: var(--box);
}

/*
Text Area
 */

textarea {
    margin-bottom: 0.5rem;
    background-color: var(--content) !important;
    border-radius: 1rem !important;
    overflow: hidden;
    padding: 1rem !important;
    border: none;
    transition: all 0.3s ease-in-out;
    width: 31rem !important;
    resize: vertical;
}

textarea:hover {
    opacity: 0.5;
}

textarea:focus {
    outline: none;
    background-color: var(--box) !important;
}

/*
File Input
 */

input[type="file"] {
    display: none;
}

/*
Value Input
 */

.value-input {
    text-align: center;
    width: 5rem;
}

.value-control {
    font-family: Seurat-Pro-Bold, sans-serif;
    text-align: center;
    background-color: transparent;
    overflow: hidden;
    margin: 0.25rem;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    height: 100%;
    line-height: 0;
}

.value-control img {
    width: 1.0rem;
}

.value-control:hover {
    opacity: 0.5;
}

.value-control:active {
    scale: 0.75;
}

/*
Radio
 */

.radio-label {
    display: flex;
}

.radio-label input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: 0 !important;
    top: 0.25rem;
}

.radio-label .radio-text {
    margin-left: 0.5rem;
    cursor: pointer;
}

.select {
    height: 0.75rem;
    width: 0.75rem;
    background-color: var(--content);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.radio-label:hover input[type="radio"] ~ .select {
    cursor: pointer;
    opacity: 0.5;
}

.radio-label input[type="radio"]:checked ~ .select {
    background-color: var(--box);
}

.select:after {
    position: relative;
    content: "";
    display: none;
}

.radio-label input[type="radio"]:checked ~ .select:after {
    display: block;
}

.radio-label .select:after {
    top: 0.125rem;
    left: 0.125rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: white;
}

/*
Margin
 */

.margin-left-05 {
    margin-left: 0.5rem !important;
}

.margin-left-10 {
    margin-left: 1.0rem !important;
}

.margin-left-15 {
    margin-left: 1.5rem !important;
}

.margin-left-20 {
    margin-left: 2rem !important;
}

/*
Miscellaneous
 */

.picture-frame{
    background-color: var(--content);
    border-radius: 1rem;
    overflow: hidden;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    transition: all 0.3s ease-in-out;
    font-family: Seurat-Pro-Bold, sans-serif;
    text-align: center;
}