<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MindQuest - 408</title>
    <script th:src="@{/js/top-script.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="header-box">
        <a id="logo" th:href="@{/}">MindQuest</a>
        <a class="button margin-left-15" th:href="@{/mindboard}">MindBoard</a>
    </div>
</header>
<section>
    <div class="box">
        <div class="box-header">
            <h1>408 Request Timeout</h1>
        </div>
        <div class="box-content">
            <p class="last">The server timed out waiting for the request from your browser. This could be due to a slow internet connection or an overloaded server.</p>
        </div>
    </div>
</section>
<section>
    <div class="box">
        <div class="box-button">
            <a href="javascript:history.back()" class="button button-full">Return</a>
        </div>
    </div>
</section>
<div id="to-top" onclick="scrollToTop()">
    <img alt="To Top" th:src="@{/assets/top.svg}">
</div>
</body>
</html>